@import url(http://fonts.googleapis.com/css?family=Montserrat:400+700);

body {
  background-color: #2c3e50;
  color: #fff;
}

.container {
  margin-top: 150px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  width: 100%;
}

.container h1 {
  font-size: 5em;
}

.container img {
  vertical-align: middle;
}

.container h1 span {
  color: #e74c3c;
}

.container h1 span a {
  color: #e74c3c;
  transition: all .5s;
  text-decoration: none;
}

.container h1 span a:hover {
  color: #c0392b;
}